<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{%block title%}{%endblock%}</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  {% block extra_head %}
  {% endblock %}
</head>
<body>
<div class="header">
  {%block header%} {%endblock%}
</div>
{# flash messages #}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes" style="display: block">
    {% for message in messages %}
    <li class="flash {{message.get("type")}}">{{ message.get("content") }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<div class="container">
  {%block container%}
  <div class="content">{%block content%}{%endblock%}</div>
  {%endblock%}
</div>
{%block footer %}
{% endblock %}
</body>
</html>
