{% extends 'layout.html' %}

{%block title%} Login {%endblock%}

{%block extra_head%}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('static', filename='login.css')}}" type="text/css" />
{%endblock%}

{%block header%}
<a class="left icon-home" href="{{url_for('index')}}" title="Go to index"></a>
{%endblock%}

{%block content%}
  <div class="login_box form-box">
    <form action="{{url_for('do_login')}}" method="post" accept-charset="utf-8">
      <div class="item">
        <label>
          Password
        </label>
       <input type="password" name="passwd" id="passwd" class="iput"/>
     </div>
     <div class="buttons item">
       <button  class="btn-blue" type="submit" name="submit">Submit</button>
     </div>
    </form>
  </div>
{%endblock%}
