{%extends "admin_layout.html"%}
{%block title%}Password | Admin{%endblock%}
{% block extra_head %}
{{super()}}
  <link rel="stylesheet" href="{{url_for('static', filename='password.css')}}" type="text/css" />
{%endblock%}
{%block tab_content%}
  <div class="form-box">
    <form action="{{url_for('update_password')}}" method="post" accept-charset="utf-8">
      <div class="item">
        <label>Password Now</label>
        <input type="password" name="password_now" id="password_now" class="iput" />
      </div>
      <div class="item">
        <label>New Password</label>
        <input type="password" name="password_new" id="password_new" class="iput" />
      </div>
      <div class="item">
        <label>Repeat</label>
        <input type="password" name="password_new_repeat" id="password_new_repeat" class="iput" />
      </div>
      <div class="item buttons">
        <button type="submit" class="btn-blue">Save</button>
      </div>
    </form>
  </div>
{%endblock%}
