{%extends "admin_layout.html"%}
{% block extra_head %} 
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='editor/editor.css')}}" type="text/css" />
<link rel="stylesheet" href="{{url_for('static', filename='write.css')}}" type="text/css" />
<script type="text/javascript" src="{{url_for('static', filename='editor/editor.js')}}"></script>
{% endblock %}
{%block title%}Write | Admin{%endblock%}
{%block tab_content%}
<div class="editor-wrapper">
  <form action="{{url_for('create')}}" method="post" accept-charset="utf-8" >
    <input name="title" class="title" type="text" placeholder="Title" id="title"/>
    <input name="title_pic" class="title" type="text" placeholder="Title Picture Url" id="title_pic"/>
    <input type="hidden" name="published" id="published" value=0 />
    <textarea name="body" id="editor" placeholder="Content here ..."></textarea>
    <p class="write-btn-box">
      <button type="submit" class="btn-white" onclick="save_to_draft();" >Save as draft</button>
      <button type="submit" class="btn-blue" onclick="publish_post();" >Publish</button>
    </p>
  </form>
</div>
<script type="text/javascript">
  // init editor
  var editor = new Editor();
  editor.render();

  var save_to_draft = function() {
    editor.codemirror.save();
    this.published.value = 0;
    this.submit()
  };

  var publish_post = function() {
      editor.codemirror.save();
      this.published.value = 1;
      this.submit()
  };
</script>
{%endblock%}
