@import layout

$background: #f9f9f7

body
  font: 16px/1.7 "Helvetica Neue", Helvetica, Arial, Sans-serif
  background: #fff
  color: $dark
  background-color: $background

.container
  width: $width
  margin: 0 auto
  padding-top: 40px

a, a:link, a:visited
  text-decoration: none

a:hover
  color: $black

.header
  padding: 12px 0 7px 0
  width: 100%
  display: inline-block
  a
    font-size: 18px
    font-weight: 600
    line-height: 25px
    display: block
    width: 45%
  a:link, a:visited
    text-decoration: none
    color: $gray
  a:hover
    color: $dark
    text-decoration: none
  a.left
    float: left
    text-align: left
    margin-left: 5%
  a.right
    float: right
    text-align: right
    margin-right: 5%

.tabs
  border-bottom: 1px solid #dddedf
  margin-top: 0px
  margin-bottom: 40px
  height: 48px

.tab
  margin-bottom: 1px
  float: left
  padding: 10px 20px
  color: $gray
  +transition(.05s)
  border: 1px solid $background
  border-bottom: 0

.tab.active
  color: $dark
  border: 1px solid #dddedf
  border-bottom: 1px solid #fff
  border-radius: 4px 4px 0 0

.tab:hover
  color: $dark
  cursor: pointer
